/* _nav.scss *** Styles for the nav section of the page. */

body {
	.nav {
		&.grid {
			padding-top: 0;
			padding-bottom: 0;
		}
		
		.nav-title {
			float: left;
			display: inline-block;
			line-height: 3em;
			
			h2 {
				@include headline($font-primary-black, 1.5em, normal);
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		
		.mobile-nav {
			float: right;
			display: none;
			line-height: 3em;
			margin-top: .2em;
			
			&:before {
				content: "\f0c9";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $font-primary-color;
				font-size: 3em;
			}
		}
		
		.nav-links {
			float: right;
			line-height: 3em;
			
			.nav-list {
				list-style-type: none;
				overflow: hidden;
				margin-bottom: 0;
				margin-top: 0;
				
				li {
					float: left;
					
					a {
						text-decoration: none;
						display: block;
						padding-left: .5em;
						padding-right: .5em;
						
						&:hover {
							color: $font-primary-white;
							background-color: $font-primary-color;
							opacity: .2;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body {
		.nav {
			.nav-links {
				display: inline-block !important;
			}

		}
	}
}

@media screen and (max-width: 767px) {
	body {
		.nav {
			
			.mobile-nav {
				display: inline-block;
			}
			
			.nav-links {
				display: none;
				clear: both;
				float: none;
				margin-bottom: 1em;
				
				.nav-list {
					padding-left: 0;
					
					li {
						float: none;
						
						a {
							padding-left: 0;
							padding-right: 0;
							
							&:hover {
								transition-property: transform;
								transition: padding-left 1s ease-in-out;
								padding-left: 45%;
							}
						}
					}
				}
			}
		}
	}
}