/* _variables.scss *** Variables for the whole site. */

/* Colors */

$font-list: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$font-primary-color: #454545;
$font-primary-white: #ffffff;
$font-primary-black: #000000;
$font-footer: #aeaeae;

$primary-background: #ffffff;
$secondary-background: #5a5b55;
